*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  background: transparent;
  text-decoration: none;
  text-transform: none;
  list-style: none;
}

html {
  font-size: 62.5%;
}

/* Screen reader class */
.sr-only {
  position:absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow:hidden;
  clip: rect(0,0,0,0);
  border: 0;
  white-space: nowrap;
}

