/* Main Navigation */

.navbar {
  height: 10rem;
  font-size: 1.7rem;
}

.navbar-logo {
  font-size: 4rem;
}
.main-carousel {
  max-height: 60rem;
  height: 100%;
  overflow: hidden;
}

/* Main home page carousel */
.main-carousel .carousel-item {
  max-height: 60rem;
  height: 100%;
}

.main-carousel .carousel-caption {
  max-width: 100%;
}

.carousel_text {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: 50% 50%;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h3 {
    font-size: 6rem;
  }
  p {
    font-size: 2rem;
  }
}

/* Homepage */
.home-blurb {
  font-size: 3rem;
}