h1, h2, h3, h4, h5, h6, blockquote {
  font-family:$heading-sans;
}

p, span, strong, small, ul, ol, li, a, label {
  font-family: $body-sans;
  font-size: 1.7rem;
  line-height: 1.8;
}

.body {
  display:flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  position:relative;
}

.layout {
  flex: 1 1 auto;
  position: relative;
  z-index: 0;
}

.e-wrapper {
  padding: 3rem 0;
}

.e-dark-green {
  background-color: $dark-green;
  color: white !important;

  .e-wrapper__heading :is(h1, h2, h3, h4, h5, h6){
    color: $beige !important;
  }
}

.e-lite-green {
  background-color: $lite-green;
  color: $dark-green;
}

.e-white {
  background-color: white;
  color: $dark-green;
}

.e-beige{
  background-color: $beige;
  color: $dark-green;
}

.e-wrapper__heading {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 0 3rem;
  margin-left: auto;
  margin-right: auto;

  & :is(h1, h2, h3, h4, h5, h6) {
    text-align: center;
    color: $dark-green;
    font-size: 3rem;
    font-family: $heading-sans;
    margin-bottom: 2rem;
  }

  hr {
  height: .5rem;
  max-width: 10rem;
  display:block;
  background-color: $lime;
  width: 100%;
  }
}

.col-txt {}

.col-txt__icon {
  transform: scaleX(-1);
  margin-right: 1rem;
  color: $lime;
  font-size: 1.8rem;
}
.e-button {
  background-color: $lime;
  color: white;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  outline: none;
  border:none;
  font-family: $heading-sans;
  font-size: 1.7rem;
  padding: 1rem 1.5rem;
  border-radius:0;
  font-weight: $regular;
}

.e-button:hover,
.e-button:focus {
  background-color: $dark-green;
  color: $beige;
  outline: none !important;
}