@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');



/* Typography */
$heading-sans: 'Space Grotesk', sans-serif;
$body-sans: 'Work Sans', sans-serif;

$extra-lite: 300;
$lite: 400;
$regular: 500;
$bold: 600;